@model TCCESTOQUE.Models.ProdutoModel

@{
    ViewData["Title"] ="- Detalhes produto";
    Layout = "~/Views/Shared/_Layout-Interno.cshtml";
}

<h1>DETALHES</h1>

<div>
    <hr />
    <dl class="descricao">
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </div>
        @if(Model.Descricao != null) { 
            <div>
                <dt>
                    Descrição
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
            </div>
        }
            <div>
                <dt>
                    Custo por @Model.UnidadeMedida
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Custo)
                </dd>
            </div>
        <div>
            <dt>
                Valor por @Model.UnidadeMedida
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantidade)
            </dd>
        </div>
        <div>
            <dt>
                Medida
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UnidadeMedida)
            </dd>
        </div>
    </dl>
</div>
<div>
    <a class="btn btn-roxo" asp-action="Edit" title="Editar" asp-route-id="@Model.ProdutoId">Editar</a> |
    <a class="btn btn-cinza" asp-action="Index">
        Voltar
    </a>
</div>
